[submodule "stan"]
	path = StanHeaders/inst/include/upstream
	url = https://github.com/stan-dev/stan.git
	ignore = dirty
[submodule "example-models"]
	path = rstanDemo/inst/example-models
	url = https://github.com/stan-dev/example-models
	ignore = dirty
