# /

# files from StanHeaders
rstan/rstan/src/*_def.cpp
rstan/rstan/src/*_inst.cpp

# other binary
*.o
*.exe
*.out
*.rds
*.so
*.Rdata
*.RData

# temporary files
*~
*.idx
*.ilg
*.ind

# depedencies files
*.d
*.hpp.d.*
.Rproj.user
stan.Rproj
.kdev4/
stan.kdev4
.Rapp.history

# For the Mac
*.DS_Store

# 
*.swp

rstan/rstan/rstan.Rproj

rstan/rstan/.Rhistory

.Rhistory
