import(rjags)
importFrom("methods", "is")
importFrom("coda", "geweke.diag", "heidel.diag", "mcmc", "as.mcmc")
importFrom("runjags", "run.jags", "dump.format", "runjags.getOption")
importFrom("rstan", "stan", "stanc", "stan_model", "sampling", "extract")
importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "plot", "pairs")
importFrom("stats", "contr.sum", "lsfit", "median", "model.frame", "model.matrix", "model.response", "pnorm", "quantile", "rnorm", "runif", "sd", "var","formula", "terms", "contrasts<-")
export(trace.plot,conv.diag, table.predictions,table.pvalues, BAnova, BANOVA.Bernoulli, BANOVA.Binomial, BANOVA.Multinomial, BANOVA.Normal, BANOVA.ordMultinomial, BANOVA.Poisson, BANOVA.T, BANOVA.floodlight, BANOVA.mediation, BANOVA.model, BANOVA.build, BANOVA.run, pairs.BANOVA)
S3method(print,conv.diag)
S3method(print,BANOVA.Bernoulli)
S3method(print,BANOVA.Binomial)
S3method(print,BANOVA.Multinomial)
S3method(print,BANOVA.Normal)
S3method(print,BANOVA.ordMultinomial)
S3method(print,BANOVA.Poisson)
S3method(print,BANOVA.T)
S3method(print,BANOVA)
S3method(print,BANOVA.floodlight)
S3method(print,BANOVA.mediation)
S3method(print,summary.BANOVA.Bernoulli)
S3method(print,summary.BANOVA.Binomial)
S3method(print,summary.BANOVA.Multinomial)
S3method(print,summary.BANOVA.Normal)
S3method(print,summary.BANOVA.ordMultinomial)
S3method(print,summary.BANOVA.Poisson)
S3method(print,summary.BANOVA.T)
S3method(print,summary.BANOVA)
S3method(pairs,BANOVA)
S3method(summary,BANOVA.Bernoulli)
S3method(summary,BANOVA.Binomial)
S3method(summary,BANOVA.Multinomial)
S3method(summary,BANOVA.Normal)
S3method(summary,BANOVA.ordMultinomial)
S3method(summary,BANOVA.Poisson)
S3method(summary,BANOVA.T)
S3method(summary,BANOVA)
S3method(predict,BANOVA.Bernoulli)
S3method(predict,BANOVA.Binomial)
S3method(predict,BANOVA.Multinomial)
S3method(predict,BANOVA.Normal)
S3method(predict,BANOVA.ordMultinomial)
S3method(predict,BANOVA.Poisson)
S3method(predict,BANOVA.T)
S3method(predict,BANOVA)

