*.csv
*.swp
*.o
*.so
*.rds
*.out
rstan/R/git_*head.R
rstan/inst/include/stanlib
rstan/inst/include/stansrc
rstan*.tar.gz

rstan/inst/unitTests/cpp/lib/
rstan/inst/unitTests/cpp/*
!rstan/inst/unitTests/cpp/*.cpp

R_Makevars
