*.csv
*.swp
*.o
*.so
*.rds
*.out
rstan/R/git_*head.R
rstan/inst/include/stanlib
rstan/inst/include/stansrc
rstan/inst/ex_models
rstan*.tar.gz

tests/report.html
tests/report.txt
tests/cpp/lib/
tests/cpp/*
!tests/cpp/*.cpp
!tests/cpp/*.R

R_Makevars

rstan.Rcheck/ 
